@model MundiUtil.WEB.Dtos.GuardarInsumoDto

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Insumo</h1>

<h4>Insumo</h4>
<hr />
<div class="row g-3">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReferenciaInsumo" class="control-label"></label>
                <input asp-for="ReferenciaInsumo" class="form-control" />
                <span asp-validation-for="ReferenciaInsumo" class="text-danger"></span>
            </div>
            <div class="form-group  col-md-6">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="TipoInsumo" class="control-label"></label>
                <select asp-for="TipoInsumo" asp-items="@ViewBag.ListaTipoInsumo" asp-for="TipoInsumo" class="form-control select-list">
                    <option disabled>--- Seleccione ---</option>
                </select>
                <span asp-validation-for="TipoInsumo" class="text-danger error"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
